@import "../../../Scss/mixin";

.testimonial__section {
    @include padding-inline(3.5rem, 7.75rem);
    padding-bottom: 14rem;
    padding-top: 4rem;
}

.testimonial-heading {
    text-align: center;
    margin-bottom: 76px;
}

.testimonial__container {
    height: 363px;
    background-color: #F8FAFC;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 42px;
    padding-top: 40px;
    padding-left: 43px;
}

.outer__container-info {
    @include displayprops(flex, center, none);
    gap: 1rem;
    margin-bottom: 2.75rem;
}

.testimonial__logo {
    height: 63px;
}

.testimonial__heading {
    @include fontprops(25px, 900);
}

.review__container {
    margin-top: 30px;
    margin-left: 2rem;
    position: absolute;
    @include displayprops(flex, center, space-evenly);
    flex-direction: row;
    gap: 3rem;
    scroll-behavior: smooth;
}

.review__container::-webkit-scrollbar {
    display: none;
}

.review__card {
    @include dimensions(fit-content, 302px, none, none);
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 1.5rem;
    box-shadow: 0px 50px 16px -48px #00000029;
}

.card__top {
    @include displayprops(flex, none, space-between);
}

.img-name {
    display: flex;
    gap: 0.5rem;
}

.review__name {
    @include fontprops(18px, 600);
}

.review__designation {
    font-size: 12px;
    color: #615C5C;
}

.review__name,
.review__designation {
    margin: 0;
}

.card__bottom {
    margin-top: 31px;
}

.review__para {
    @include fontprops(16px, 600);
}

.carousel__arrow {
    background-color: white;
    @include dimensions(63px, 62px, none, none);
    margin-left: auto;
    bottom: 300px;
    left: 30px;
    z-index: 2;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 7px 17px #00000029;
    cursor: pointer;
    position: relative;
}

.arrow {
    padding-top: 30%;
    @include dimensions(40px, 30px, none, none);
}

.left-arrow {
    background-color: white;
    @include dimensions(63px, 62px, none, none);
    bottom: 240px;
    left: -75px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    box-shadow: 0px 7px 17px #00000029;
    cursor: pointer;
    margin-right: auto;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .testimonial__section {
        padding-inline: 3.5rem;
    }

    .review__card {
        width: 230px;
        max-height: 300px;
    }

    .testimonial__container {
        padding-left: 30px;
    }

    .review__name {
        font-size: 13px;
    }

    .review__designation {
        font-size: 10px;
    }

    .review__para {
        font-size: 13px;
    }

    .card__bottom {
        margin-top: 5px;
    }

    .carousel__arrow {
        @include dimensions(50px, 50px, none, none);
    }

    .left-arrow {
        @include dimensions(50px, 50px, 245px, -60px);
    }

    .arrow {
        padding-top: 30%;
        @include dimensions(35px, 28px, none, none);
    }
}

@media screen and (max-width: 426px) {
    .testimonial__section {
        @include padding-inline(2rem, 2rem);
    }

    .carousel__arrow {
        @include dimensions(45px, 45px, 200px, 25px);
    }

    .arrow {
        padding-top: 15%;
        width: 20px;
    }

    .left-arrow {
        @include dimensions(45px, 45px, 160px, -35px);
    }

    .testimonial__container {
        padding-left: 10px;
    }

    .review__card {
        width: 295px;
    }
}

@media screen and (max-width: 400px) {
    .review__card {
        @include dimensions(335px, 245px, none, none);
        width: 245px;
        height: 335px;
    }

    .carousel__arrow {
        @include dimensions(45px, 45px, 255px, 25px);
    }

    .arrow {
        padding-top: 15%;
        width: 20px;
    }

    .left-arrow {
        @include dimensions(45px, 45px, 210px, -40px);
    }
}

@media screen and (max-width: 321px) {
    .review__card {
        @include dimensions(335px, 189px, none, none);
    }

    .review__designation {
        font-size: 12px;
    }

    .carousel__arrow {
        @include dimensions(45px, 45px, 255px, 25px);
    }

    .left-arrow {
        @include dimensions(45px, 45px, 210px, -40px);
    }

    .testimonial__heading {
        font-size: 22px;
    }

    .outer__container-info {
        align-items: flex-start;
        margin-bottom: 1rem;
    }

    .testimonial__logo {
        height: 55px;
    }
}